[submodule "docs"]
	path = docs
	url = https://github.com/bigeasy/prolific.git
    branch = gh-pages
[submodule "prolific.root/docs"]
	path = prolific.root/docs
	url = https://github.com/bigeasy/prolific.git
    branch = root.gh-pages
[submodule "prolific.stdio/docs"]
	path = prolific.stdio/docs
	url = https://github.com/bigeasy/prolific.git
    branch = stdio.gh-pages
[submodule "prolific.sink/docs"]
	path = prolific.sink/docs
	url = https://github.com/bigeasy/prolific.git
    branch = sink.gh-pages
[submodule "prolific.resolver/docs"]
	path = prolific.resolver/docs
	url = https://github.com/bigeasy/prolific.git
    branch = resolver.gh-pages
[submodule "prolific.chunk/docs"]
	path = prolific.chunk/docs
	url = https://github.com/bigeasy/prolific.git
    branch = chunk.gh-pages
[submodule "prolific.inherit/docs"]
	path = prolific.inherit/docs
	url = https://github.com/bigeasy/prolific.git
    branch = inherit.gh-pages
[submodule "prolific.ipc/docs"]
	path = prolific.ipc/docs
	url = https://github.com/bigeasy/prolific.git
    branch = ipc.gh-pages
[submodule "prolific.collector/docs"]
	path = prolific.collector/docs
	url = https://github.com/bigeasy/prolific.git
    branch = collector.gh-pages
[submodule "prolific.consolidator/docs"]
	path = prolific.consolidator/docs
	url = https://github.com/bigeasy/prolific.git
    branch = consolidator.gh-pages
[submodule "prolific.file/docs"]
	path = prolific.file/docs
	url = https://github.com/bigeasy/prolific.git
    branch = file.gh-pages
[submodule "prolific.filter/docs"]
	path = prolific.filter/docs
	url = https://github.com/bigeasy/prolific.git
    branch = filter.gh-pages
[submodule "prolific.logger/docs"]
	path = prolific.logger/docs
	url = https://github.com/bigeasy/prolific.git
    branch = logger.gh-pages
[submodule "prolific.monitor/docs"]
	path = prolific.monitor/docs
	url = https://github.com/bigeasy/prolific.git
    branch = monitor.gh-pages
[submodule "prolific.queue/docs"]
	path = prolific.queue/docs
	url = https://github.com/bigeasy/prolific.git
    branch = queue.gh-pages
[submodule "prolific.shuttle/docs"]
	path = prolific.shuttle/docs
	url = https://github.com/bigeasy/prolific.git
    branch = shuttle.gh-pages
[submodule "prolific.syslog/docs"]
	path = prolific.syslog/docs
	url = https://github.com/bigeasy/prolific.git
    branch = syslog.gh-pages
[submodule "prolific.tcp/docs"]
	path = prolific.tcp/docs
	url = https://github.com/bigeasy/prolific.git
    branch = tcp.gh-pages
[submodule "prolific.udp/docs"]
	path = prolific.udp/docs
	url = https://github.com/bigeasy/prolific.git
    branch = udp.gh-pages
