/node_modules
/*/node_modules/*
!/prolific.root/node_modules/prolific.shuttle.js
!/prolific.tee/node_modules/prolific.test
!/prolific.monitor/node_modules/prolific.test
!/prolific.supervisor/node_modules/prolific.test.js
!/prolific.syslog/node_modules/json.js
/.proof.out
/coverage
/*/coverage
