[submodule "vendor/lesshat"]
	path = vendor/lesshat
	url = https://github.com/madebysource/lesshat.git
[submodule "root"]
	path = root
	url = https://github.com/bigeasy/prolific.git
    branch = root.gh-pages
[submodule "stdio"]
	path = stdio
	url = https://github.com/bigeasy/prolific.git
    branch = stdio.gh-pages
[submodule "chunk"]
	path = chunk
	url = https://github.com/bigeasy/prolific.git
    branch = chunk.gh-pages
[submodule "collector"]
	path = collector
	url = https://github.com/bigeasy/prolific.git
    branch = collector.gh-pages
[submodule "consolidator"]
	path = consolidator
	url = https://github.com/bigeasy/prolific.git
    branch = consolidator.gh-pages
[submodule "file"]
	path = file
	url = https://github.com/bigeasy/prolific.git
    branch = file.gh-pages
[submodule "filter"]
	path = filter
	url = https://github.com/bigeasy/prolific.git
    branch = filter.gh-pages
[submodule "inherit"]
	path = inherit
	url = https://github.com/bigeasy/prolific.git
    branch = inherit.gh-pages
[submodule "ipc"]
	path = ipc
	url = https://github.com/bigeasy/prolific.git
    branch = ipc.gh-pages
[submodule "logger"]
	path = logger
	url = https://github.com/bigeasy/prolific.git
    branch = logger.gh-pages
[submodule "monitor"]
	path = monitor
	url = https://github.com/bigeasy/prolific.git
    branch = monitor.gh-pages
[submodule "queue"]
	path = queue
	url = https://github.com/bigeasy/prolific.git
    branch = queue.gh-pages
[submodule "resolver"]
	path = resolver
	url = https://github.com/bigeasy/prolific.git
    branch = resolver.gh-pages
[submodule "shuttle"]
	path = shuttle
	url = https://github.com/bigeasy/prolific.git
    branch = shuttle.gh-pages
[submodule "sink"]
	path = sink
	url = https://github.com/bigeasy/prolific.git
    branch = sink.gh-pages
[submodule "syslog"]
	path = syslog
	url = https://github.com/bigeasy/prolific.git
    branch = syslog.gh-pages
[submodule "tcp"]
	path = tcp
	url = https://github.com/bigeasy/prolific.git
    branch = tcp.gh-pages
[submodule "udp"]
	path = udp
	url = https://github.com/bigeasy/prolific.git
    branch = udp.gh-pages
