.nyc_output

/.wiseguy
/coverage
/docs
/node_modules

/*/coverage
/*/node_modules/*
/*.*/test/tmp

/prolific.executable/test/tmp
/prolific.executable/test/processor.js
!/prolific.syslog/node_modules/json.js
