/.wiseguy
/docs
/node_modules
/*/node_modules/*
!/prolific.tee/node_modules/prolific.test
!/prolific.pipeline/node_modules/prolific.test
!/prolific.pipeline/node_modules/prolific.configure.js
!/prolific.executable/node_modules/prolific.configure.js
!/prolific.executable/node_modules/prolific.test
!/prolific.supervisor/node_modules/prolific.test.js
!/prolific.syslog/node_modules/json.js
/.proof.out
/coverage
/*/coverage
/prolific.example/configuration.json
